.businessData .title {
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 0 0 4px #333333;
}

.interestHeaders {
  display: inline-block;
}

.interestHeaders div {
  text-shadow: 0 0 3px #666666;
  font-size: 16px;
  color: #FFFF99;
  display: inline-block;
  width: 130px;
}

.offersHeaders {
  text-shadow: 0 0 3px #666666;
  font-size: 18px
  color: #FFFF99;
  display: inline-block;
}

.OfferView .offer {
  width: 325px;
  display: inline-block;
  font-size: 16px;
  color: #FFF;
  text-shadow: 0 0 2px #333;
  text-align: center;
}

.OfferView .offer span {
  color: #FF9;
  font-weight: bold;
}

.acceptButton {
  background-color: #33CC33;
  padding: 10px;
  border: 1px solid #666;
  text-align: center;
  cursor: pointer;
}

.rejectButton {
  background-color: #CC3333;
  padding: 10px;
  border: 1px solid #666;
  text-align: center;
  cursor: pointer;
}
