.button.obj {
  font-size: 12px;
  height: 12px;
  font-family: helvetica, verdana, arial;
  padding: 4px 0 0px;
  border-radius: 1px;
  box-shadow: 1px 2px 3px #333333;
  cursor: pointer;
}

.Button .button {
  margin-top: 5px;
}

.Mouse, .Mouse * {
  cursor: pointer !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: helvetica, verdana, arial;
}

.smallButton.Button {
  padding: 0px;
  height: 8px;
  border-radius: 15px
}

.titleGraph {
  font-weight: bold;
  text-shadow: 0 0 2px #333333;
  color: #FFFFFF;
  text-align: center;
  z-index: 9999999;
}

.smallButton.Button .button {
  font-size: 15px;
  padding: 1px 0 0;
}

.statusMoney {
  color: #FFFFFF;

}

.HeaderText .title {
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 0 0 4px #333333;
}

.PropertyCheckbox {
  display: inline-block;
}

.PropertyCheckbox .box {
  display: inline-block;
  border: 1px solid #666;
  height: 20px;
  width: 20px;
}

.PropertyCheckbox .box.selected {
  background-color: #FFFFFF;
}

.PropertyCheckbox .text {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  vertical-align: top;
}

.Bar {
  color: #FFFFFF;
  /*text-shadow: 0 0 1px #000000;*/
  text-align: center;
}
