.productInfo .title {
  color: #FFFFFF;
  font-size: 50px;
  text-shadow: 0 0 4px #333333;
}

.productModules .title {
  margin-top: 1em;
  font-size: 20px;
  color: #FFFF66;
  text-shadow: 0 0 2px #555555;
}

.projectModules .title {
  font-size: 20px;
  color: #FFFF66;
  text-shadow: 0 0 2px #555555;
}

.module {
  width: 100%;
  border: 0px solid #666666;
  border-radius: 5px;
  height: 30px;
  padding: 10px 0 0px;
  background-color: #333;
  font-size: 12px;
  color: #AFD;
  opacity: 0.8;
  display: inline-block;
  overflow: hidden;
}

.module.released_true {
  background-color: #33AA66;
  color: #333333;
}

.module.available {
  opacity: 0.7;
  background-color: #6666FF;
  color: #FFFFFF;
}

.module .title {
  display: inline-block;
  width: 200px;
  text-align: center;
  font-weight: bold;
  height: 40px;
  vertical-align: top;
}
.module.available .title {
  width: 450px;
}


.module .currentPhase {
  display: inline-block;
  width: 100px;
  height: 40px;
  vertical-align: top;
}

.module .description {
  display: inline-block;
  width: 650px;
  height: 40px;
  overflow: hidden;
  vertical-align: top;
}
